

 .display {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgb(241, 215, 220);
}

#box{
  background-color:azure;
  height: 100px;
  margin: 50px;
}
.container{
  background-color: lavender;
}
h3{
  font-family: cursive;
}